body {
  font-family: 微軟正黑體;
  /*font-size: 13px;*/
}

.map{
    width: 70vw;
    height: 100vh;
    /*display: inline-block;*/
    overflow: hidden;
    float:right
}

.beginLeft{
    z-index: 10;
    width: 30vw;
    height: 100vh;
    margin: 0;
    float: left;
    box-shadow: 5px 10px 15px rgba(0,0,0,0.1);
    position: relative;
    background: #f4f4f4;
    /*display: inline-block;*/
}

.inputContainer{
    background: white;
    width: 29vw;
    height: 13vh;
    padding: 1vh;
    text-align: center;
    border-bottom: 0.5px solid #e9e9e9;
}

.input{
    width: 28vw;
    height: 8vh;
    border-style:solid;
    border-color: #e4e4e4;
    /*box-shadow: 0px 2px 10px -4px grey;*/
    border-width: 1px;
    border-radius: 8px;
    margin: auto;
}
.items{
    width: 6vh;
    height: 6vh;
    margin: 1vh 2vh 1vh 2vh;
    float: left;
    display: inline-block;
    background-color: transparent;
    border: none;
    background-image: url("icon/bullet-list.svg");
      background-size: 21px 21px;
    background-repeat: no-repeat;
    background-position: center;
      cursor: pointer;
      /*margin-inline-end: 16px;*/
      /*padding: 22px 11px 0;*/
}

.searching {
    width: 35%;
    padding: 10px;
    border: none;
    background: transparent;
    color: #c2c2c2;
    display: block;
    margin: 1vh;
  /*font-weight:bold;*/
}

.wayIcon{
    width: 9vh;
    height: 4vh;
    margin: 2vh 1vh 2vh 1vh;
    float: right;
    display: inline-block;
    background-color: transparent;
    border: none;
    background-image: url("icon/way.png");
    background-size: 21px 21px;
    background-repeat: no-repeat;
    background-position: center;
    border-left: 0.5px solid lightgray;
}

.searchIcon{
    width: 6vh;
    height: 6vh;
    margin: 1vh 1vh 1vh 1vh;
    float: right;
    display: inline-block;
    background-color: transparent;
    border: none;
    background-image: url("icon/search.png");
      background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;

}

.infoContainer{
    background: white;
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
    width: 30vw;
    height: 22vh;
    border-top: 0.5px solid lightgray;
    border-bottom: 0.5px solid lightgray;
}

.info{
    width: 28vw;
    margin: 0;
    height: 11vh;
    display:flex;
    align-items:center;
    padding-left: 2vw;
}

.info:hover{
    background: #f4f4f4;
}

.infoIcon{
    width: 7vh;
    height: 7vh;
}

.noContainer{
    background: white;
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
    width: 30vw;
    height: 6vh;
    border-top: 0.5px solid lightgray;
    border-bottom: 0.5px solid lightgray;
    display:flex;
    align-items:center;
}

.TaipeiContainer{
    background: white;
    margin-top: 10px;
    padding: 1vh 0vh 1vh 0vh;
    width: 30vw;
    height: 22vh;
    border-top: 0.5px solid lightgray;
    border-bottom: 0.5px solid lightgray;
    /*display:flex;*/
    /*align-items:center;*/
    position: relative;
}

.weather{
    width: 28vw;
    margin: 0;
    height: 5vh;
    padding: 0vh 0vh 0vh 3vh;
    display:flex;
    align-items:center;
}

.cloud{
    position: absolute;
    width: 5vh;
    height: 5vh;
    right: 1vw;
    /*float: right;*/
}

.temp{
    position: absolute;
    color: #b4b4b4;
    font-size: 13px;
    right: 4vw;
}

.find{
    width: 28vw;
    margin: 0;
    /*height: 5vh;*/
    padding: 1vh 1vw 0vh 1vw;
}

.findBtn{
    width: 11vh;
    height: 14vh;
    padding: 1vh 0.1vh 1vh 0.1vh;
    display: inline-block;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    display: inline-block;
}

.findBtn:hover{
    background-color: #f4f4f4;
}

.satellite{
    z-index: 10;
    width: 6vw;
    height: 6vw;
    margin: 0;
    /*box-shadow: 1px 1px 1px gray;*/
    position: absolute;
    left: 32vw;
    bottom: 3vh;
    /*background: #f4f4f4;*/
    border: 2px solid white;
    border-radius: 10px;
    background-image: url("icon/SatellitePhoto.jpg");
    background-size: 6vw 6vw;
}

.human{
    z-index: 10;
    width: 11vw;
    height: 2vw;
    margin: 0;
    padding: 1px;
    box-shadow: 0px 0px 5px #9f9f9f;
    position: absolute;
    right: 1.5vw;
    bottom: 3vh;
    background: #ffffff;
    border: 2px solid white;
    border-radius: 5px;
}

.zoom{
    z-index: 10;
    width: 1.75vw;
    height: 4vw;
    margin: 0;
    padding: 1px;
    box-shadow: 0px 0px 5px #9f9f9f;
    position: absolute;
    right: 1.5vw;
    bottom: 9vh;
    background: #ffffff;
    border: 2px solid white;
    border-radius: 5px;
}

.where{
    z-index: 10;
    width: 1.75vw;
    height: 1.75vw;
    margin: 0;
    padding: 1px;
    box-shadow: 0px 0px 5px #9f9f9f;
    position: absolute;
    right: 1.5vw;
    bottom: 19.5vh;
    background: #ffffff;
    border: 2px solid white;
    border-radius: 5px;
}

.layer{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 15;
    width: 100vw;
    height: 100vh;
    background: #000000;
    opacity: 0.2;
    visibility: hidden;

    -webkit-transition: 0.2s;
   -moz-transition: 0.2s;
   -ms-transition: 0.2s;
   -o-transition: 0.2s;
   transition: 0.2s;
}

.itemsLeft{
    position: absolute;
    left: -30vw;
    top: 0;
    z-index: 20;
    width: 25vw;
    height: 100vh;
    margin: 0;
    box-shadow: 5px 10px 15px gray;
    background: #FFFFFF;
    overflow-y: scroll;
    margin: 0;

    -webkit-transition: 0.6s;
   -moz-transition: 0.6s;
   -ms-transition: 0.6s;
   -o-transition: 0.6s;
   transition: 0.6s;
}

.itemsList{
    list-style: none;
    display:flex;
    align-items:center;
    padding: 0 1.5vw 0 1.5vw;
}

.listBack{
    width: 1.25vw;
    height: 1.25vw;
    position: absolute;
    right: 2vw;
    opacity: 0.5;
    cursor: pointer;
}

.listBack:hover{
    opacity: 0.8;
}

.itemsBtn{
    width: 2.5vw;
    height: 2.5vw;
    padding: 0 1.5vw 0 0;
}

.itemsTitle{
    font-size: 13px;
    color: #4d4d4d;
}

.otherTitle{
    font-size: 13px;
    color: #555555;
    margin: 0.6vw 0.25vw 0.6vw 0.25vw;
}

#timeline{
    cursor: pointer;
}


.beginRight{
    z-index: 10;
    position: absolute;
    right: 2vw;
    top: 2.5vh;
    display:flex;
    align-items:center;
}

.list{
    width: 3vh;
    height: 3vh;
    cursor: pointer;
    padding-right: 1.5vw;
}
.id{
    width: 5vh;
    height: 5vh;
    border-radius: 50px;
    cursor: pointer;
    background: gray;
}

.app {
  position:absolute;
  right:2vw;
    top:10vh;
  background: white;
  border-radius: 10px;
  float: right;
  box-sizing: border-box;
  /*width: 100%;*/
  /*height: 100%;*/
  width: 22.5vw;
  height: 70vh;
  padding: 1vh 1vh 1vh 1vh;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
  z-index: 150;
  display: none;
}

.appImage {
    display: inline-block;
    justify-content: space-between;
  box-sizing: content-box;
  width: 22.5vw;
  margin: 0;
    padding: 10px 7px 10px 7px;
}

.apps{
  text-align: center;
  list-style: none;
  /*padding: 10px 7px 10px 7px;*/
  display: inline-block;
  list-style-type: none;
  position: relative;
  transition: transform .2s cubic-bezier(.333,0,0,1);
  vertical-align: top;
  height: 6.5vw;
  width: 6.5vw;
  border-radius: 10px;
  margin-top: 0.75vh;
  margin-bottom: 0.75vh;
}

.apps.searchapp{
  background:url(icon/Search_icon.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size: 70% 70%;
}

.apps.YT{
  background:url(icon/YouTube_icon.png);
  background-repeat:no-repeat;
   background-position: center;
  background-size: 70% 70%;
}

.apps.Map{
  background:url(icon/Maps_icon.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size: 70% 70%;
}

.apps.Cloud{
  background:url(icon/Drive_icon.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size: 70% 70%;
}

.apps.play{
  background:url(icon/Play_icon.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size: 70% 70%;
}

.apps.contact{
  background:url(icon/Contacts_icon.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size: 70% 70%;
}

.apps.mail{
  background:url(icon/Gmail_icon.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size: 70% 70%;
}

.apps.calender{
  background:url(icon/Calendar_icon.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size: 70% 70%;
}

.apps.photo{
  background:url(icon/Photos_icon.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size: 70% 70%;
}

.apps:hover {
  /*opacity: 1;*/
  cursor: default;
  background-color: rgba(196, 211, 238, 0.17);
  /*padding: 1px 7px 1px 7px;*/
}
